/*--------------------------------------------fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/*--------------------------------------------headers styling*/

h1, h2, h3, p{
    font-family: Lato, sans-serif;
    padding-top: 10px;
}


h1{
    font-size: 40px;
    padding-top: 100px;
}

h2, h3{
    text-transform: uppercase;
}

h2{
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-size: 18px;
}

p{
    font-size: 16px;
}

/*--------------------------------------------header*/
.jumbotron{
    height:600px;
    width: 100%;
    
    background-image: url("https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.container-title{
    height: 560px;
    width: 96%;
    
    margin-left: 2%;
    margin-right: 2%;

    position: absolute;
    top: 20px;

    background-color: rgba(60, 60, 60, .8);
}

.container-title h1,
.container-title p{
    width: 96%;
    
    margin-left: 2%;
    margin-right: 2%;

    padding left: 40px;
    padding-right: 10px;

    text-align: center;
    overflow: hidden;
    color: white;
}

/*
padding:10px 5px 15px 20px;
top padding is 10px
right padding is 5px
bottom padding is 15px
left padding is 20px
*/

.container-title h1{
    padding-top: 90px;
}

/*--------------------------------------------sections*/


section{
    padding: 0% 4% 0% 4%;
}

/*--------------------------------------------about-me*/
#about-me{
    height:500px;
    width: 100%;

    background: url("https://images.unsplash.com/photo-1550926781-93aef598b010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-block{
    padding-top: 35px;
    text-align: center;
}
/*--------------------------------------------unsplash-pictures*/
/*
https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
https://images.unsplash.com/photo-1473181488821-2d23949a045a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
*/

/*--------------------------------------------my-work*/
#my-work{
    height:1700px;
    width: 100%;
    
    margin-left: 2px;
    margin-right: 2px;

    background: url("https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.col-sm{
    background-color: rgb(242, 242, 242, .9);
    height: 240px;

    position: relative;
    top: 15%;
}

.col-sm h3,
.col-sm p{
    color: #333333;
    
    text-align: center;
    position: relative;
    top: 10%;
}

.col-sm h3{
    padding-top: 25px;
}

.container{
    padding-top: 8px;
}

span{
    padding-top: 8px;
    width: 8px;
}

.icons{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 30px;
    width: 30px;

    margin-top: 36px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 16px;
}

#i-instagram{
    background-image: url("https://image.flaticon.com/icons/svg/174/174855.svg");
}

#i-facebook{
    background-image: url("https://image.flaticon.com/icons/svg/174/174855.svg");
}

#i-youtube{
    background-image: url("https://image.flaticon.com/icons/svg/174/174855.svg");
}

#i-gdn{
    background-image: url("https://image.flaticon.com/icons/svg/174/174855.svg");
}

#i-linkedin{
    background-image: url("https://image.flaticon.com/icons/svg/174/174855.svg");
}


/*--------------------------------------------my-skills*/
ul{
    list-style: none;
    text-align: left;
}

.my-skills-list{
    margin-top: 10px;
}


/*--------------------------------------------my-skills*/

 .brands{

 } 
 
 #unilever{}
 #luxxotica{}
 #barilla{}
 #generali{}
 #lambo{}
 #ducati{}
 #schwarzwkopf{}
 #syoss{}
 #barnangen{}
 #ba-sthlm{}
 #nae{}
