/*--------------------------------------------fonts & icons*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url("//use.fontawesome.com/releases/v4.7.0/css/all.css'");

/*--------------------------------------------headers styling*/

h1, h2, h3, p{
    font-family: Lato, sans-serif;
    padding-top: 10px;
}


h1{
    font-size: 40px;
    padding-top: 100px;
}

h2, h3{
    text-transform: uppercase;
}

h2{
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-size: 18px;
}

p{
    font-size: 16px;
}

body{
    scroll-behavior: smooth;
}

/*--------------------------------------------landing-view*/
.jumbotron{
    height:580px;
    width: 100%;
    
    background-image: url("../images/laptop-right.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-title{
    height: 560px;
    width: 96%;
    
    margin-left: 2%;
    margin-right: 2%;

    position: absolute;
    vertical-align: middle;
}

.container-title h1,
.container-title p{
    width: 96%;
    
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 40px;
    padding-right: 40px;

    text-align: center;
    overflow: hidden;

    color:  rgba(60, 60, 60);
}

/*
padding:10px 5px 15px 20px;
top padding is 10px
right padding is 5px
bottom padding is 15px
left padding is 20px
*/

.container{
    padding-top: 8px;
}

.container-title h1{
    padding-top: 90px;
}

/*--------------------------------------------sections*/
section{
    padding: 0% 4% 0% 4%;
}

/*--------------------------------------------about-me*/
#about-me{
    height:500px;
    width: 100%;

    background-image: url("../images/profile-half.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.text-block{
    padding-top: 35px;

    text-align: center;
    vertical-align: middle;
}

/*--------------------------------------------unsplash-pictures*/
/*
https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
https://images.unsplash.com/photo-1473181488821-2d23949a045a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
*/

/*--------------------------------------------my-work*/
#my-work{
    height:880px;
    width: 100%;
    
    margin-left: 2px;
    margin-right: 2px;

    background-image: url("../images/ipad-and-notebook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*
#my-work h2,
#my-work p{
    color: rgba(242, 242, 242)
}
*/

.col-sm{
    background-color: rgb(242, 242, 242, .8);

    height: 245px;
    top: 15%;

    border-radius: 8px;

    position: relative;
    overflow: hidden;
}

.col-sm h3,
.col-sm p,
.col-sm img{
    color: rgba(60, 60, 60);
    
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.col-sm h3{
    padding-top: 25px;
}

.work-icons{
    width: auto;
    height: 45px;
    position: center;
}

span{
    padding-top: 8px;
    width: 8px;
}

/*--------------------------------------------my-skills*/
ul{
    list-style: none;
}

#my-skills{
    height: 760px;
    margin: auto;

    text-align: center;

    padding-left: 14%;
    padding-right: 14%;

    color: rgba(60, 60, 60, .9);
}

.skills-background{
    background-image: url("../images/laptop-carpet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn-link{
    color: rgba(60, 60, 60);
}

.btn:hover{
    color: royalblue;
}

.mb-0 button{
    font-size: 16px;
    text-transform: uppercase;
}

.card{
    background-color: rgb(242, 242, 242, .9);
    border-radius: 6px;
}

/*--------------------------------------------brands*/
#my-brands{
    height: 500px;
    margin: auto;
}

.brand-container{
    text-align: center;
}

 .brands{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    margin: auto;

    height: 60px;
    width: 60px;

    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
 }

/*--------------------------------------------download-cv*/

.download-cv{
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;

    color: #333333;
}

/*--------------------------------------------recommendations*/
#recommendations{
    text-align: center;
    height: 600px;
}

.carousel-item{
    height: auto;
    width: 860px;

    margin: auto;
    
    padding-left: 100px;
    padding-right: 100px;
}

/*--------------------------------------------download*/
#download-cv{
    color: rgba(60, 60, 60);
}

/*--------------------------------------------contact*/

#contact{
    text-align: center;
    height: 600px;

    background-image: url("../images/map-and-ipad-vertical.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contact-form{
    float: center;
}

.form{
    padding-top: 20px;
}

#navigation-menu,
.nav-item,
.nav-link,
#navbarNavDropdown,
.dropdown-menu,
.dropdown-item,{
    text-transform: uppercase;
}

#navigation-menu{
    background-color: rgba(20, 19, 19, 0.781);
    transition: 0.4s;
    position: fixed;
}

#navigation-menu a{
    color: whitesmoke;
}

#navigation-menu a:hover{
    color: white;
}


/*--------------------------------------------footer*/



/*-------------------------------------------@media-queries*/
/*-----------------------------------landing-view*/
@media only screen and (max-width: 600px) {
    .jumbotron{
        background-size: cover;
        background-position: top;
    }
}
/*-----------------------------------about-me*/
@media only screen and (max-width: 600px) {
    #about-me{
        background-image: none;
        background-repeat: no-repeat;
        height: 800px;
    }
    .container-title h1,
    .container-title p{
        text-align: center;
        vertical-align: middle;
    }
    #profile-picture-mobile{
        background-image: url("../images/profile-vertical.png");  
        height: 600px;

        background-size: contain;
    }
}

/*-----------------------------------my-work*/
@media only screen and (max-width: 992px) {
    #my-work{
        height: 1140px;
    }
    .col-sm{
        height: 320px;
    }
    .work-icons{
        width: auto;
        height: 38px;
    }
}

@media (max-width: 600px) {
    #my-work{
        height: 1850px;
    }
    .col-sm{
        height: 265px;
    }
    .work-icons{
        width: auto;
        height: 44px;
    }
}

@media (max-width: 375px) {
    #my-work{
        height: 2260px;
    }
    .col-sm{
        height: 265px;
    }
    .work-icons{
        width: auto;
        height: 44px;
    }
}

/*-----------------------------------my-brands*/
@media (max-width: 992px) {
    #my-brands{
        height: 540px;
    }

    .brand-logos{
        height: 360px;
        width: auto;
    }
}

@media (max-width: 600px) {
    #my-brands{
        height: 400px;
    }

    .brand-logos{
        height: 174px;
        width: auto;
    }
}

@media (max-width: 360px) {
    .brand-logos{
        height: 146px;
        width: auto;
    }
}

/*-----------------------------------my-skills*/

@media (max-width: 1024px) {
#my-skills{
    height: 800px;
    padding-left: 12%;
    padding-right: 12%;
    }
}
@media (max-width: 600px) {
#my-skills{
    height: 860px;
    margin: auto;
    padding-left: 6%;
    padding-right: 6%;
    }
}

@media (max-width: 375px) {
#my-skills{
    height: 1000px;
    margin: auto;
    }
}

/*-----------------------------------my-recommendations*/

@media (max-width: 1024px) {
    #recommendations{
        text-align: center;
        height: 580px;
    }
    .carousel-item{
        width: 700px;
        
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media (max-width: 600px) {
     #recommendations{
        height: 460px;
    }
    .carousel-item{
        width: 300px;
        padding-left: 0px;
        padding-right: 0px;
    }  
@media (max-width: 360px) {
    #recommendations{
        height: 500px;
    }
    .carousel-item{
        width: 260px;
        padding-left: 0px;
        padding-right: 0px;
    }
}